<h1> MARVEL QUIZ </h1>
<div *ngIf="!gameStart">
  <button class="button" (click)="start()"> Iniciar </button>
</div>


<div *ngIf="gameStart">
  <h2>Pontos: {{points}}/{{GOAL}}</h2>
  <img src={{characters[sortedCharacter].thumbnail.path}}.{{characters[sortedCharacter].thumbnail.extension}} alt="{{characters[sortedCharacter].name}}">
  <div *ngFor='let in of counter(4) ;let i = index'>
    <div>
      <button [ngClass]="(choosenId==-1)?'button':(sortedCharacter==i)?'button green_button':'button red_button'"
              (click)="choose_character(i)">{{characters[i].name}}
      </button>
    </div>
  </div>
</div>


<div *ngIf="answerWasMade && gameStart">
  <h2>{{answerResponse}}</h2>
  <button class="button" (click)="start()"> Próximo </button>
</div>
